* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

main {
  min-height: 90vh;
}

nav {
  background-color: #52c3c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h1 {
  color: white;
  font-size: 2rem;
  padding-left: 3rem;
  margin-right: auto;
  font-family: 'Neonderthaw', cursive;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  padding: 2rem;
}

nav ul li a {
  font-size: 1.5rem;
  margin: 1rem 1.5rem;
  color: white;
}

@media screen and (max-width: 550px) {
  nav h1 {
    font-size: 1rem;
  }
  nav ul {
    margin-right: 0.5rem;
    padding: 1rem;
  }
  nav ul li a {
    font-size: 0.75rem;
    margin: 0.5rem 0.75rem;
  }
}

footer {
  background-color: bisque;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h1 {
  padding: 1.5rem;
  font-size: 1.25rem;
  color: #8d8d8d;
}

@media screen and (max-width: 550px) {
  footer h1 {
    font-size: 0.625rem;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem 1rem 3rem;
}

.search input {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px 0 0 5px;
  color: #808080;
  padding: 0.25rem 0.5rem;
}

.search input:focus {
  outline-color: #3e76d0;
}

.search button {
  color: white;
  padding: 0.32rem 0.75rem;
  background-color: #3e76d0;
  border: none;
  border-radius: 0 5px 5px 0;
  margin-left: -10px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
}

.pictures .picture {
  padding: 1rem;
}

.pictures .imgContainer {
  overflow: hidden;
  width: 300px;
  height: 20vw;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
}

.pictures .imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pictures .imgContainer img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.66;
  z-index: -1;
}

.pictures .imgContainer .hint {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: all 0.5s ease;
          transform: all 0.5s ease;
}

.pictures .imgContainer .hint:hover + img {
  opacity: 0.66;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.pictures .imgContainer .hint:hover {
  z-index: 100;
  opacity: 1;
}

@media screen and (max-width: 550px) {
  .pictures .imgContainer {
    width: 250px;
    height: 30vw;
  }
}
/*# sourceMappingURL=style.css.map */